@font-face {
  font-family: "Barlow Semi Condensed", sans-serif;
  src: url(url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
}

/* Body */
body {
  background-color: #062a53;
  margin: 0em;
}
/* Navigation */

 /* styling navlist */ 
 #navlist { 
  background-color: #191e22; 
  position: fixed; 
  width: 100%; 
  
} 
    
/* styling navlist anchor element */ 
#navlist a { 
  float:left; 
  display: block; 
  color: #f2f2f2; 
  text-align: center; 
  padding: 12px; 
  text-decoration: none; 
  font-size: 15px; 
  font-family: "Barlow Semi Condensed", sans-serif;
} 

.navlist-right{ 
  float:right; 
} 

/* hover effect of navlist anchor element */ 
#navlist a:hover { 
  background-color: #ddd; 
  color: black; 
} 
    
/* styling search bar */ 
.search input[type=text]{ 
  width:300px; 
  height:25px; 
  border-radius:25px; 
  border: none; 
  align-items: center;
  margin-left: 360px;
  
} 
    
.search{ 
  float:center; 
  margin:7px; 
} 
    
.search button{ 
  background-color: #191e22; 
  color: #f2f2f2; 
  float: right; 
  padding: 5px 10px; 
  margin-right: 16px; 
  font-size: 12px; 
  border: none; 
  cursor: pointer; 
}  
}

/* Header */
#h1new h1 {
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  
  
}

.logo {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container {
  display: flex;
  justify-content: center;
}

#container img {
  width: 10%;
  display: flex;
  
  margin-left: auto;
  margin-right: auto;
  border: 5px solid gray;
  
}



h1 {
  text-align: center;
  font-size: 60px; 
  font-family: "Barlow Semi Condensed", sans-serif;
}

#description {
  display: flex;
  justify-content: center;
  
}

#description p  {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  color: white;
}

#buynow-button {
  display: flex;
  justify-content: center;
}

#buynow-button button {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}



#preorder img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  
  
}

/*add games*/

.addgames button {
  display: flex;
  margin-left: 600px;
  font-size: 30px; 
  font-family: "Barlow Semi Condensed", sans-serif;
  
  
}

.addgames img {
  margin-left: 250px;
  
}

/* Footer */

footer {
  text-align: center;
  background-color: white;
  color: #8d99ae;
  
  
}

.content-wrap {
  max-width: 900px;
  margin: 0 auto;
  
  overflow: hidden;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}


  

  
  
 